/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('leaf-pattern.jpg') no-repeat center center fixed;
    background-size: cover; /* Ensure the image covers the entire background */
    overflow-x: hidden;
}

/* Header Styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #4CAF50; /* Green header */
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    flex-shrink: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f5f5f5;
}

/* Login Page Styles */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 80px; /* Offset for fixed header */
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px; /* Limit the maximum width */
    width: 100%;
    margin: 0 auto; /* Center align */
    text-align: center;
}

.login-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #4CAF50;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #4CAF50; /* Green text color */
}

.input-container input,
.generate-otp-button,
.cta-button {
    width: 100%; /* Ensure all elements have the same width */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

.input-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.generate-otp-button {
    background: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px 0; /* Space between phone number and OTP fields */
    transition: background 0.3s, color 0.3s;
}

.generate-otp-button:hover {
    background: #fff;
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

.cta-button {
    background: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, color 0.3s;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.cta-button:hover {
    background: #fff;
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

/* Footer Styles */
.footer-container {
    background: #4CAF50; /* Green background */
    color: #fff; /* White text color */
    text-align: center; /* Center-align text */
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
